stackit_project_id               = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
stackit_service_account_key_path = "/path/to/your/stackit-sa.json"

# valkey_plan_name = "stackit-keyvalue-1.4.10-replica"
# valkey_version   = "8"
